/* App.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .paper {
    padding: 20px;
    width: 400px;
    margin: auto;
  }
  
  .MuiTextField-root {
    width: 100%;
    margin-bottom: 15px;
    input {
      border: 2px solid orange; /* Set border color to orange */
    }
  }
  
  .MuiButton-root {
    background-color: orange !important; /* Set button background color to orange */
    color: white !important; /* Set button text color to white */
  }
  
  .error {
    color: red;
  }
  
  /* Add other styles as needed */
  
  /* Override default link color */
  a {
    color: orange;
  }
  
  a:hover {
    text-decoration: underline;
  }
  